__pycache__
/.vscode

/bin/*
!/bin/BMS
/bin/BMS/*
!/bin/AssetRipper
/bin/AssetRipper/*
/out
*.exe

!/bin/bin.7z
!/bin/ps3key.py
!/bin/wiiudk.py
!/bin/xb1key.py
!/bin/BMS/xbp.bms
!/bin/BMS/KirbySwitch-Decompress.bms
!/bin/AssetRipper/client.py
!/bin/tmd.py
!/bin/sgkey.py
!/bin/uekey.py
