__pycache__
/.vscode

/bin/*
!/bin/BMS
/bin/BMS/*
!/bin/AssetRipper
/bin/AssetRipper/*
/out
*.exe

!/bin/hac2l.exe
!/bin/ndssndext.exe
!/bin/ps3key.py
!/bin/wiiudk.py
!/bin/BMS/xbp.bms
!/bin/AssetRipper/client.py
!/bin/psvpfsparser/
!/bin/psvpfsparser/psvpfsparser.exe
!/bin/tmd.py
!/bin/TDEDecrypt.exe
!/bin/cls-srep/
!/bin/cls-srep/*
!/bin/bbccp.exe
!/bin/assamUnpack.exe
