__pycache__
/.vscode

/bin/*
!/bin/AssetRipper
/bin/AssetRipper/*
!/bin/UTMT_CLI
/bin/UTMT_CLI/*
/out
*.exe
*.dll
!/lib/unipyxx.dll
*.pyc
*.pyo
*.pyob
*.bhl
/dev/helpers/*.lib
/lib/unipyxx/.lib
/lib/unipyxx/.libx
/lib/unipyxx/!check

!/bin/bin.7z
!/bin/ps3key.py
!/bin/wiiudk.py
!/bin/xb1key.py
!/bin/AssetRipper/client.py
!/bin/tmd.py
!/bin/sgkey.py
!/bin/uekey.py
